[submodule "scmaudio/dependencies/libnyquist"]
	path = scmaudio/dependencies/libnyquist
	url = https://github.com/ddiakopoulos/libnyquist
[submodule "scmaudio/dependencies/rtaudio"]
	path = scmaudio/dependencies/rtaudio
	url = https://github.com/thestk/rtaudio
[submodule "scmaudio/dependencies/readerwriterqueue"]
	path = scmaudio/dependencies/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue
